// Side Nav Widths
$pal-side-nav-width: 16rem;
$pal-side-nav-closed-width: 3rem;
$pal-side-nav-closed-height: 3.125rem;
$pal-side-nav-icon-offset: 0.125rem;
$pal-side-nav-collapse-transition-top: calc(
  100% - #{$pal-side-nav-closed-height}
);
$pal-side-nav-collapse-transition-side: -#{$pal-side-nav-width - $pal-side-nav-closed-width + $pal-side-nav-icon-offset};

// Inverse Colors
$pal-inverse-side-nav-background: $layer-01;
$pal-inverse-side-nav-hover: $layer-accent-01;
$pal-inverse-side-nav-hover-text: $text-primary;
$pal-inverse-side-nav-active: $layer-selected-01;
$pal-inverse-side-nav-active-text: $text-secondary;
$pal-inverse-side-nav-text: $text-secondary;
