@use "@carbon/react/scss/type";
@use '@carbon/react/scss/reset';

@use "@carbon/react/scss/components/skeleton-styles";
@import "@carbon/react/scss/colors";
@import "@carbon/react/scss/spacing";
@import "@carbon/react/scss/themes";
@import "@carbon/react/scss/theme";
@import "@carbon/react/scss/config";

/* stylelint-disable no-invalid-position-at-import-rule */
// @include carbon--type-reset();

/* Make sure to import any Carbon Component's styles that this component uses */
@import "@carbon/react/scss/components/tile";
@import "@carbon/react/scss/components/link";

.pal--catalog-tile {
  display: block;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); // sass-lint:disable-line no-color-literals
  background-color: $layer-01;
  padding: 1rem;
  text-decoration: none;
  width: 100%;

  &:focus,
  &:hover {
    outline: 2px solid $focus;
  }

  &:not(.pal--catalog-tile__list-view):not(.pal--catalog-tile__consulting-view) {
    max-width: 30rem;
  }

  &__content-wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    position: relative;
    width: 100%;

    .pal--catalog-tile__list-view &,
    .pal--catalog-tile__consulting-view & {
      flex-direction: row;
    }
  }

  &__header-container {
    display: flex;
    flex-direction: column;
    min-width: 2.5rem;

    .pal--catalog-tile__list-view &,
    .pal--catalog-tile__consulting-view & {
      flex-direction: row;
    }
  }

  &__icon-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    position: relative;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .w-90 {
    width: 90%;
  }

  .header-tag {
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__text,
    svg {
      margin: 0.25rem;
    }

    svg {
      height: 0.875rem;
      width: 0.875rem;
    }

    &-select {
      margin-right: 2rem;
    }
  }

  &__decorator {
    fill: $text-primary;
    margin-left: 0.5rem;
    position: relative;
    top: 1px;

    svg {
      height: 0.875rem;
      width: 0.875rem;
    }
  }

  &__fs-12-fw-400 {
    font-weight: 400;
    font-size: 0.75rem;
    color: $text-secondary;
    margin-left: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 22rem;
  }

  &__icon-with-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &-list-con {
      align-items: flex-start;
      margin-top: 0.5rem;
    }
  }

  &__desc {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    margin-bottom: 1rem;
    max-width: 40rem;

    &-container {
      color: $text-secondary;
      display: flex;
      flex-direction: column;
      font-size: 0.75rem;
      font-weight: 400;
      justify-content: space-between;
      line-height: 1.25;
      min-height: 6.25rem;
    }

    &-ellipsis {
      max-height: 54px;
      overflow: hidden;
      font-size: 0.75rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-left: 1rem;

    a {
      font-weight: 600;
      width: 7.5rem;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    .pal--catalog-tile__consulting-view & {
      margin: 0.5rem 0 0;
      padding: 0;

      a {
        width: auto;
      }
    }
  }

  &__tag {
    color: $text-secondary;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25;
  }

  &__tag-container {
    display: flex;
    flex-wrap: wrap;

    li {
      align-items: center;
      display: flex;

      &:not(:last-child)::after {
        content: "\00a0\00a0\2022\00a0\00a0";
      }
    }
  }

  &__featured-icon-container {
    display: none;
    height: 200px;
    margin: -1rem -1rem -1rem auto;
    min-width: 416px;
    overflow: hidden;
    padding-left: 1rem;

    img,
    svg {
      height: 200px;
      width: 400px;
    }

    @media screen and (min-width: 66rem) {
      display: block;
    }
  }

  &__header {
    color: $text-primary;
    margin-bottom: 1rem;
    min-width: inherit;

    &-name {
      color: $text-primary;
      line-height: 1.125rem;
      font-weight: 600;
      font-size: 0.875rem;
      margin: 0;
    }

    @media screen and (min-width: 550px) {
      width: calc(100% - 50px);

      .pal--catalog-tile__list-view &,
      .pal--catalog-tile__consulting-view & {
        max-width: initial;
        width: 100%;
      }
    }
  }

  &__search-text {
    color: $focus;
  }
}

.pal--catalog-tile__skeleton {
  width: 30rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  background-color: $layer-01;
  padding: $spacing-06;
}
