@use "@carbon/react/scss/type";
@use '@carbon/react/scss/reset';
@import "@carbon/react/scss/colors";
@import "@carbon/react/scss/motion";
@import "@carbon/react/scss/spacing";
@import "@carbon/react/scss/themes";
@import "@carbon/react/scss/theme";
@import "@carbon/react/scss/config";


// @include component('pal--animated-numbers') {
    .pal--animated-numbers {
       
        //slow - heading-compact-01
        --duration: 400ms;
        --delay: 30;
        --distance: 0.05rem;

       //slow - heading-03
        // --duration: 667ms;
        // --delay: 42;
        // --distance: 2rem;

        //fast - heading-03
        // --duration: 550ms;
        // --delay: 30;
        // --distance: 2rem;

        margin: $spacing-05 $spacing-05 $spacing-07 $spacing-05;
        //if you need to make more room, keep spacing-05 at the bottom
    
        &__numbers {
            display: flex;
            align-items: baseline;
            
            &-float{
                width: 0;
                height: 0;
            }
        }
    
        &__previous-number {
            @include type.type-style('heading-compact-01');
            
            font-weight: 300;
            color: $text-primary;
            position: relative;
            display: flex;
        }
    
        &__current-number {
            @include type.type-style('heading-compact-01');
    
            font-weight: 300;
            color: $text-primary;
        }
        

        // staggered motion

        &__increase_number-exit {
            @media (prefers-reduced-motion: reduce) {
                animation-duration: 600ms;
            }
    
            animation: var(--duration) motion(standard, productive) 0ms 1 forwards increaseNumberExit;
    
            @keyframes increaseNumberExit {
                0% {
                    transform: translateY(0);
                    opacity: 1;
                }
    
                60% {
                    opacity: 0;
                }
    
                100% {
                    transform: translateY(var(--distance));
                    opacity: 0;
                    display: none;
                    visibility: hidden;
                }
    
            }
        }
    
        &__increase_number-enter {
            @media (prefers-reduced-motion: reduce) {
                animation-duration: 600ms;
            }
    
            animation: var(--duration) motion(standard, productive) 0ms 1 forwards increaseNumberEnter;
    
            @keyframes increaseNumberEnter {
                0% {
                    transform: translateY(var(--distance));
                    opacity: 0;
                }
    
                20% {
                    opacity: 0;
                }
    
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
    
            }
        }
    
        &__decrease_number-exit {
            @media (prefers-reduced-motion: reduce) {
                animation-duration: 600ms;
            }
    
            animation: var(--duration) motion(standard, productive) 0ms 1 forwards decreaseNumberExit;
    
            @keyframes decreaseNumberExit {
                0% {
                    transform: translateY(0);
                    opacity: 1;
                }
    
                60% {
                    opacity: 0;
                }
    
                100% {
                    transform: translateY(var(--distance));
                    opacity: 0;
                    display: none;
                    visibility: hidden;
                }
    
            }
        }
    
        &__decrease_number-enter {
            @media (prefers-reduced-motion: reduce) {
                animation-duration: 600ms;
            }
    
            animation: var(--duration) motion(entrance, productive) 0ms 1 forwards decreaseNumberEnter;
    
            @keyframes decreaseNumberEnter {
                0% {
                    transform: translateY(-var(--distance));
                    opacity: 0;
                }
    
                20% {
                    opacity: 0;
                }
    
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
    
            }
        }

        @for $i from 1 through 5 {
            .pal--animated-numbers__digit-#{$i} {
                animation-delay: #{$i * 10}ms;
            }
        }

        //for chunked motion - not staggered
        &__chunked_increase_number-exit {
            @media (prefers-reduced-motion: reduce) {
                animation-duration: 600ms;
            }
    
            animation: 200ms motion(exit, expressive) 0ms 1 forwards increaseNumberExitChunked;
    
            @keyframes increaseNumberExitChunked {
                0% {
                    transform: translateY(0);
                    opacity: 1;
                }
    
                60% {
                    opacity: 0;
                }
    
                100% {
                    transform: translateY(2rem);
                    opacity: 0;
                    display: none;
                    visibility: hidden;
                }
    
            }
        }
    
        &__chunked_increase_number-enter {
            @media (prefers-reduced-motion: reduce) {
                animation-duration: 600ms;
            }
    
            animation: 200ms motion(entrance, expressive) 0ms 1 forwards increaseNumberEnterChunked;
    
            @keyframes increaseNumberEnterChunked {
                0% {
                    transform: translateY(2rem);
                    opacity: 0;
                }
    
                20% {
                    opacity: 0;
                }
    
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
    
            }
        }
    
        &__chunked_decrease_number-exit {
            @media (prefers-reduced-motion: reduce) {
                animation-duration: 600ms;
            }
    
            animation: 200ms motion(exit, expressive) 0ms 1 forwards decreaseNumberExitChunked;
    
            @keyframes decreaseNumberExitChunked {
                0% {
                    transform: translateY(0);
                    opacity: 1;
                }
    
                60% {
                    opacity: 0;
                }
    
                100% {
                    transform: translateY(2rem);
                    opacity: 0;
                    display: none;
                    visibility: hidden;
                }
    
            }
        }
    
        &__chunked_decrease_number-enter {
            @media (prefers-reduced-motion: reduce) {
                animation-duration: 600ms;
            }
    
            animation: 200ms motion(entrance, expressive) 0ms 1 forwards decreaseNumberEnterChunked;
    
            @keyframes decreaseNumberEnterChunked {
                0% {
                    transform: translateY(-2rem);
                    opacity: 0;
                }
    
                20% {
                    opacity: 0;
                }
    
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
    
            }
        }
    }
// }