@use '@carbon/react/scss/type';
@use '@carbon/react/scss/motion';
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/components/skeleton-styles';

@import '@carbon/react/scss/components/overflow-menu';
@import '@carbon/react/scss/colors';
@import '@carbon/react/scss/spacing';
@import '@carbon/react/scss/themes';
@import '@carbon/react/scss/theme';
@import '@carbon/react/scss/config';
@import '@carbon/styles/scss/breakpoint';

.pal--vertical-tabs {
  display: flex;
  align-items: flex-start;
  height: 620px;
  align-items: stretch;
  position: relative;
  overflow: auto;
  overflow: hidden;
  max-width: 100%;

  .cds--tabs {
    display: flex;
    max-height: 100%;
    width: auto;
    overflow-y: auto;
    flex-direction: column;
    background-color: $layer-02;
  }

  .cds--tab-content {
    background-color: $layer;
    padding: $spacing-05;
    overflow: auto;
    position: relative;
    width: 100%;

    > * {
      overflow: auto;
      @media (prefers-reduced-motion: no-preference) {
        animation: 145ms motion.motion(entrance, productive) 0s 1 fadein;

        @keyframes fadein {
          0% {
            transform: translateY(3rem);
            opacity: 0;
          }

          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }

  &--mobile {
    height: 360px;
    .cds--tab-content {
      background-color: $layer;
      padding: $spacing-05;
      max-width: 100%;
      overflow: auto;
      position: relative;
      min-width: 100%;
      min-height: 280px;
      max-height: 420px;
      // height: 100%;
      margin-bottom: 41px; // footer
    }
  }

  .cds--tabs {
    position: relative;
  }

  .cds--tab--overflow-nav-button {
    display: none;
  }

  .pal--vertical-tab {
    min-height: 4rem;
    max-height: 4rem;

    &.cds--tabs__nav-link {
      background-color: $layer-accent-01;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $border-tile-01;
      }
    }

    &.cds--tabs__nav-item:not(.cds--tabs__nav-item--selected):not(
        .cds--tabs__nav-item--disabled
      ):hover {
      box-shadow: inset 2px 0 0 0 $border-strong;
    }

    &.cds--tabs__nav-item.cds--tabs__nav-item--selected {
      box-shadow: inset 2px 0 0 0 $border-interactive;
    }

    .cds--tabs__nav-item-label {
      display: flex;
      position: relative;
      width: 100%;

      .pal--resource-status-indicator {
        position: absolute;
        right: 0;
      }
    }
  }

  @include breakpoint-down('md') {
    flex-direction: column;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
  }

  .pal--vertical-tab-list__sidepanel {
    $slide-transition: transform 400ms ease-in-out, visibility 400ms;

    visibility: hidden;
    z-index: 100;
    transform: translateX(-100%);
    position: absolute;
    top: 41px;
    height: calc(100% - 41px);
    width: 100%;

    @media (prefers-reduced-motion: no-preference) {
      transition: $slide-transition;
    }

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }

    &::before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay;
    }

    .cds--tabs {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%; // footer
      width: 75%;
    }

    &--search .cds--tabs {
      height: calc(100% - 32px); // footer
    }

    .pal--vertical-tab {
      min-width: 100%;
    }

    .pal--vertical-tab-list__footer {
      width: 75%;
      position: absolute;
    }

    &--open {
      display: block;
      visibility: visible;
      transform: translateX(0%);
    }
  }

  .pal--vertical-tab-list {
    position: relative;
    overflow-y: auto;
    flex-direction: column;
    overflow-x: visible;
    min-width: 250px;

    display: block;
    background-color: $layer-02;
    position: relative;
    overflow-y: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background-color: $border-subtle-00;
    }

    &__header {
      background-color: $layer;
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $border-subtle-00;
      }
    }

    &--search {
      padding-bottom: 72px;
    }

    &__search {
      height: 100%;
      .cds--search-input {
        border-bottom: 0px solid transparent;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      padding-left: $spacing-05;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2em;
      background-color: $layer;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $border-subtle-00;
      }
    }

    .cds--tab--list {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 100%;
    }

    // responsive design
    @include breakpoint-down('md') {
      &--search {
        padding-bottom: 0;
      }

      &__search {
        width: auto;
      }
    }
  }

  &--mobile {
    .cds--tab-content {
      top: 41px;
    }

    .pal--vertical-tab-list {
      width: 100%;
      height: 100%;
      border-right: 0;
      display: flex;
      overflow-y: auto;
      flex-direction: column;

      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &--controlled {
    .cds--tabs.cds--tabs--contained.cds--tabs--tall
      .cds--tabs__nav-link.pal--vertical-tab {
      max-height: 100%;
    }
    .cds--tab--list,
    .cds--tabs {
      height: 100%;
    }
    .pal--vertical-tab.cds--tabs__nav-link:last-child {
      box-shadow: 0px solid transparent;
    }

    .pal--vertical-tab-list__footer {
      display: none;
    }
  }
}
// mobile stepper
.pal--vertical-tab-panel__footer {
  display: none;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: $layer;
  width: 100%;
  justify-content: flex-end;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $border-subtle-00;
  }

  @include breakpoint-down('md') {
    display: flex;
  }
}
