@use '@carbon/react/scss/type';
@use '@carbon/react/scss/motion';
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/components/skeleton-styles';

@import '@carbon/react/scss/components/overflow-menu';
@import '@carbon/react/scss/colors';
@import '@carbon/react/scss/spacing';
@import '@carbon/react/scss/themes';
@import '@carbon/react/scss/theme';
@import '@carbon/react/scss/config';
@import '@carbon/styles/scss/breakpoint';

.pal--vertical-tabs {
  display: flex;
  align-items: flex-start;
  max-height: 100%;
  align-items: stretch;
  position: relative;
  overflow: hidden;

  .cds--tabs {
    display: flex;
    max-height: 100%;
    width: auto;
    overflow-y: auto;
    flex-direction: column;
  }

  .cds--tab-content {
    background-color: $layer;
    padding: $spacing-05;
    overflow: auto;
  }

  .cds--tabs {
    position: relative;
  }

  .cds--tab--overflow-nav-button {
    display: none;
  }

  .pal--vertical-tab {
    min-width: 250px;

    &.cds--tabs__nav-link {
      background-color: $layer-accent-01;
      border-bottom: 1px solid $border-tile-01;
    }

    &.cds--tabs__nav-item:not(.cds--tabs__nav-item--selected):not(
        .cds--tabs__nav-item--disabled
      ):hover {
      box-shadow: inset 2px 0 0 0 $border-strong;
    }

    &.cds--tabs__nav-item.cds--tabs__nav-item--selected {
      box-shadow: inset 2px 0 0 0 $border-interactive;
    }

    .cds--tabs__nav-item-label {
      display: flex;
      position: relative;
      width: 100%;

      .pal--resource-status-indicator {
        position: absolute;
        right: 0;
      }
    }
  }

  @include breakpoint-down('md') {
    flex-direction: column;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
  }

  .pal--vertical-tab-list__sidepanel {
    $slide-transition: transform 400ms motion.motion(standard, expressive),
      visibility 400ms;
    z-index: 100;
    opacity: 0;
    transform: translateX(-100%);
    position: absolute;
    top: 41px;
    transition: $slide-transition;

    &::before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay;
    }

    .cds--tabs {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - 32px); // footer + header
      width: 75%;
    }

    .pal--vertical-tab {
      min-width: 100%;
    }

    .pal--vertical-tab-list__footer {
      width: 75%;
      position: absolute;
    }

    &--open {
      display: block;
      opacity: 1;
      transform: translateX(0%);
      height: calc(100% - 41px);
      width: 100%;
    }
  }

  .pal--vertical-tab-list {
    position: relative;
    overflow-y: auto;
    flex-direction: column;
    overflow-x: visible;

    display: block;
    background-color: $layer-02;
    border-right: solid 1px $border-subtle-00;
    position: relative;
    overflow-y: hidden;
    min-width: 250px;

    &__header {
      background-color: $layer;
      border-bottom: 1px solid $border-subtle-00;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &--full-height {
      display: grid;

      .pal--vertical-tab.cds--tabs__nav-link:last-child {
        box-shadow: 0px solid transparent;
      }
    }

    &--search {
      padding-bottom: 72px;
    }

    &__search {
      height: 100%;
      .cds--search-input {
        border-bottom: 0px solid transparent;
      }
    }

    &__footer {
      display: flex;
      border-top: 1px solid $border-subtle-00;
      align-items: center;
      padding-left: $spacing-05;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2em;
      background-color: $layer;
      overflow: hidden;
    }

    .cds--tab--list {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 100%;
    }

    // responsive design
    @include breakpoint-down('md') {
      &--search {
        padding-bottom: 0;
      }

      &__search {
        width: auto;
        // height: 45px;
      }
    }
  }

  &--mobile {
    $slide-transition: transform 400ms carbon--motion(standard, expressive),
      visibility 400ms;
    .pal--vertical-tab-list {
      width: 100%;
      border-right: 0;
      display: flex;
      overflow-y: auto;
      flex-direction: column;

      position: absolute;
      left: 0;
      top: 0;
      transition: $slide-transition;
    }
    .pal--vertical-tab-list--open {
      height: 100%;
    }
  }
}
// mobile stepper
.pal--vertical-tab-panel__footer {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $layer;
  width: 100%;
  justify-content: flex-end;
  border-top: 1px solid $border-subtle-00;

  @include breakpoint-down('md') {
    display: flex;
  }
}
