@use '@carbon/react/scss/type';
@use '@carbon/react/scss/motion';
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/components/skeleton-styles';
@use '@carbon/react/scss/components/button/tokens' as button;
@import '@carbon/react/scss/components/overflow-menu';
@import '@carbon/react/scss/colors';
@import '@carbon/react/scss/spacing';
@import '@carbon/react/scss/themes';
@import '@carbon/react/scss/theme';
@import '@carbon/react/scss/config';
@import '@carbon/styles/scss/breakpoint';

@keyframes fadein {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.pal--vertical-tabs__wrapper {
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: auto;
  max-width: 100%;
  background-color: $layer-02;

  .pal--vertical-tabs {
    display: flex;
    position: relative;
    width: auto;
    overflow-y: auto;
    flex-direction: column;
    background-color: $layer-02;
  }

  .pal--vertical-tab-panel{
    background-color: $layer;
    padding: $spacing-05;
    overflow: auto;
    position: relative;
    width: 100%;

    > * {
      overflow: auto;

      @media (prefers-reduced-motion: no-preference) {
        animation: 145ms motion.motion(entrance, productive) 0s 1 fadein;
      }

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }
  
  .pal--vertical-tab {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding: $spacing-05;
    min-height: 4rem;
    max-height: 100%;
    height: 100%;
    background-color: $layer-accent-01;
    position: relative;
    border-bottom: 1px solid $border-tile-01;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;


    &:hover{ 
      background-color: $layer-accent-hover;

      .pal--vertical-tab-label {
        color: $text-primary;
        fill: $text-primary;
      }
    }

    &:focus {
      outline: 2px solid $focus;
      outline-offset: -2px;
    }

    .pal--vertical-tab-label-wrapper {
      width: 100%;
    }

    .pal--vertical-tab-label {
      @include type.type-style('body-compact-01');
      color: $text-secondary;
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
    }
    .pal--vertical-tab-secondary-label {
      @include type.type-style('label-01');
      color: $text-secondary;
    }
   

    &:not(
        .pal--vertical-tab--selected,
        .pal--vertical-tab--disabled
      ):hover {
      box-shadow: inset 2px 0 0 0 $border-strong;
    }

    &--selected {
      box-shadow: inset 2px 0 0 0 $border-interactive;

      .pal--vertical-tab-label {
        @include type.type-style('heading-compact-01');
        color: $text-primary;
      }
    }

    &--disabled {
      box-shadow: inset 2px 0 0 0 $border-disabled;
      background-color: button.$button-disabled;
      pointer-events: none;

      .pal--vertical-tab-label, .pal--vertical-tab-secondary-label {
        color: $text-disabled;
        fill: $text-disabled;
      }
    }
  }

  @include breakpoint-down('md') {
    flex-direction: column;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
  }

  .pal--vertical-tabs__sidepanel {
    $slide-transition: transform 400ms ease-in-out, visibility 400ms;

    z-index: 100;
    position: absolute;
    top: 41px;
    visibility: hidden;
    display: block;
    height: calc(100% - 41px);
    width: 100%;

    .pal--vertical-tabs__footer,
    .pal--vertical-tab--list {
      visibility: hidden;
      transform: translateX(-100%);

      @media (prefers-reduced-motion: no-preference) {
        transition: $slide-transition;
      }

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }

    .pal--vertical-tab--list {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 75%;
    }

    &--search .pal--tab-list {
      height: calc(100% - 32px); // footer
    }

    .pal--vertical-tab {
      min-width: 100%;
    }

    .pal--vertical-tabs__footer {
      width: 75%;
      position: absolute;
    }

    &--open {
      visibility: visible;
      background-color: $overlay;
    }

    &--open .pal--vertical-tab--list,
    &--open .pal--vertical-tabs__footer {
      visibility: visible;
      transform: translateX(0%);
    }
  }

  &:has(.pal--vertical-tabs__footer)
    .pal--vertical-tabs__sidepanel
    .pal--vertical-tabs {
    height: calc(100% - 32px);
  }

  .pal--vertical-tabs {
    overflow-y: hidden;
    flex-direction: column;
    overflow-x: visible;
    min-width: 250px;
    max-width: 350px;
    border-right: solid 1px $border-subtle-00;
    display: block;
    background-color: $layer-02;

    &__header {
      background-color: $layer;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      position: relative;
      border-bottom: 1px solid $border-subtle-00;
    }

    &--search {
      padding-bottom: 72px;
    }

    &__search {
      height: 100%;

      .cds--search-input {
        border-bottom: 0 solid transparent;
      }
    }

    &__footer {
      position: absolute;
      display: none; // hide by default
      align-items: center;
      padding-left: $spacing-05;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 32px;
      background-color: $layer;
      overflow: hidden;
      border-top: 1px solid $border-subtle-00;
    }

    &__empty-state {
      @include type.type-style('body-long-01');
      color: $text-primary;
      background-color: $layer-02;
      padding: $spacing-05;
      height: 100%;
    }

    .pal--vertical-tab--list {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      border-left: solid 1px $border-subtle-00;

    }

    // responsive design
    @include breakpoint-down('md') {
      &--search {
        padding-bottom: 0;
      }

      &__search {
        width: auto;
      }
    }
  }

  .pal--vertical-tab--list {
    height: 100%;
  }

  .pal--vertical-tab:last-child {
    box-shadow: none;
  }

  .pal--vertical-tabs--search,
  .pal--vertical-tabs--add,
  .pal--vertical-tabs--sort {
    .pal--vertical-tab {
      min-height: 4rem;
      max-height: 4rem;
    }

    .pal--vertical-tabs__footer {
      display: flex;
    }
  }

  // mobile stepper
  .pal--vertical-tab-panel__footer {
    display: none;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: $layer;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    border-top: 1px solid $border-subtle-00;

    @include breakpoint-down('md') {
      display: flex;
    }
  }
 
  &--mobile {
    height: 360px;

    .pal--vertical-tab-panel {
      background-color: $layer;
      padding: $spacing-05;
      max-width: 100%;
      overflow: auto;
      position: relative;
      min-width: 100%;
      min-height: 280px;
      max-height: 420px;
      margin-bottom: 38px; // footer
      top: 41px;
    }

    .pal--vertical-tabs {
      width: 100%;
      height: 100%;
      border-right: 0;
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;

      &__header {
        justify-content: space-between;
      }
    }
  }
}
