@import '../../styles';

@include component('pal--counter') {
  .pal--counter {
    text-align: left;
    margin: 16px;
    transition: width 100ms;

    &__numbers {
      display: flex;
      margin-bottom: $spacing-05;
      align-items: baseline;
    }
      
    &__previous-step {
      @include type-style('heading-07');
      color: $text-primary;
      position: relative;
    }

    &__current-step {
      @include type-style('heading-07');
      color: $text-primary;
    }
    
    &__number-exit {
        @media (prefers-reduced-motion: reduce) {
            animation-duration: 600ms;
        }
        
        animation: 400ms motion(exit, expressive) 0ms 1 forwards numberExit;
    
        @keyframes numberExit {
          0% {
            transform: translateY(0);
            opacity: 1;
          }
          60% {
            opacity: 0;
          }
          100% {
            transform: translateY(-4.5rem);
            opacity: 0;
            display: none;
            visibility: hidden;
          }
          
        }
    }
    
    &__number-enter {
        @media (prefers-reduced-motion: reduce) {
            animation-duration: 600ms;
        }

        animation: 450ms motion(entrance, expressive) 0ms 1 forwards numberEnter;
      
        @keyframes numberEnter {
          0% {
            transform: translateY(4.5rem);
            opacity: 0;
          }
          20% {
            opacity: 0;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
          
        }
    }

    &__total-steps {
        @include type-style('heading-04');
        color: $text-secondary;
        margin-left: 6px;
    }
        
    &__label {
        @include type-style('label-02');
        color: $text-primary;
    }
        
    &__divider {
        border: 0;
        margin: 14px 0 20px 0;
        text-align: left;
        width: 216px;
        height: 1px;
        background: $border-subtle-01;
    }
}
}

