@use "@carbon/react/scss/type";
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/motion';
@use "@carbon/react/scss/components/skeleton-styles";
@import "@carbon/react/scss/colors";
@import "@carbon/react/scss/spacing";
@import "@carbon/react/scss/themes";
@import "@carbon/react/scss/theme";
@import "@carbon/react/scss/config";
@import "../SideNavExperimental/styles";
@import "../SideNavExperimental/inverse-styles";

.cpx--world-level-nav::after {
  position: absolute;
  right: 0;
  content: "";
  width: 1px;
  height: 100%;
  background-color: $border-subtle-00;
}

.cpx--world-level-nav.cpx--side-nav {
  bottom: 0;
  display: flex;
  height: calc(100% - 50px);
  min-width: $pal-side-nav-width;
  position: relative;
}

.cpx--world-level-nav.cpx--side-nav--collapsed {
  transform: translateX($pal-side-nav-collapse-transition-side);
  transition: transform $duration-moderate-02 motion(exit, productive);
}

.cpx--world-level-nav .cpx--side-nav__item,
.cpx--world-level-nav .cpx--side-nav__menu-button {
  // font-weight: 600;
}

.cpx--world-level-nav .cpx--side-nav__link,
.cpx--world-level-nav .cpx--side-nav__menu-button {
  padding-left: $spacing-05;
}

.cpx--world-level-nav .cpx--side-nav__menu-button.cpx--side-nav__menu-flyout {
  padding-left: $spacing-05;
}

.cpx--world-level-nav .cpx--side-nav__menu .cpx--side-nav__link,
 .cpx--world-level-nav .cpx--side-nav__menu .cpx--side-nav__menu-button {
  padding-left: $spacing-08;
}

.cpx--world-level-nav .cpx--side-nav__link[aria-current="page"],
.cpx--world-level-nav .cpx--side-nav__item--active .cpx--side-nav__menu-button {
  color: $pal-inverse-side-nav-active-text;
}

.cpx--world-level-nav .cpx--side-nav__collapse-button {
  justify-content: flex-end;
  padding: $spacing-05 $spacing-05 $spacing-05 $spacing-06;

  @include breakpoint("md") {
    display: flex;
  }
}

.cpx--world-level-nav.cpx--side-nav .cpx--side-nav__item::before {
  display: none;
}

.cpx--world-level-nav.cpx--side-nav--collapsed
  > *:not(.cpx--side-nav__collapse-button) {
  visibility: hidden;
  opacity: 0;
  transition: all $duration-moderate-02 motion(exit, productive);
}

.cpx--world-level-nav.cpx--side-nav--collapsed .cpx--side-nav__collapse-button {
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: $spacing-04 $spacing-05;
  position: absolute;
  right: 0;
  width: 2.875rem;
}

:not(.pal-docs--renderer__component) > .cpx--world-level-nav {
  position: fixed;
}
