$feature-flags: (
  grid-columns-16: true,
  enable-css-custom-properties: true,
);

@use "sass:map";
@import "@carbon/react/scss/grid";
@import "@carbon/react/scss/components/button";

@mixin breakpoint($size) {
  @if map-has-key($grid-breakpoints, $size) {
    $breakpoint-key: map.get($grid-breakpoints, $size);

    @media screen and (min-width: map-get($breakpoint-key, "width")) {
      @content;
    }
  } @else {
    @media all and (min-width: $size) {
      @content;
    }
  }
}

.pal--layout {
  width: 100%;
}

.pal--layout__required {
  color: $button-danger-primary;
  font-weight: 600;
}
