@use "@carbon/react/scss/type";
@use '@carbon/react/scss/reset';
@import "@carbon/react/scss/colors";
@import "@carbon/react/scss/spacing";
@import "@carbon/react/scss/themes";
@import "@carbon/react/scss/theme";
@import "@carbon/react/scss/config";
@import "@carbon/react/scss/components/overflow-menu";
@import "@carbon/react/scss/components/button";

$header-spacing: 28px; // mocks l2 nav height
$breadcrumb-spacing: 16px; // mocks breadcrumb spacing

.pal--actions-panel-sm {
  display: block;

  .#{$prefix}--overflow-menu__icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  @include breakpoint("md") {
    display: none;
  }
}

.pal--actions-panel.#{$prefix}--overflow-menu {
  width: auto;
  height: auto;
  display: none;

  @include breakpoint-up("md") {
    display: block;
  }

  .#{$prefix}--btn {
    padding-right: 12px;
  }

  .pal--actions-panel-icon {
    margin-left: 60px;
    vertical-align: middle;
    // fill: $button-tertiary;
  }

  &:focus .#{$prefix}--btn--tertiary {
    background-color: $button-tertiary;
    color: $icon-inverse;
    box-shadow: inset 0 0 0 1px $layer-02;
  }

  &:hover .#{$prefix}--btn--tertiary .pal--actions-panel-icon,
  &:focus .#{$prefix}--btn--tertiary .pal--actions-panel-icon {
    fill: $icon-inverse;
  }

  &--open {
    outline-color: $text-on-color;
  }

  // Target Carbon component to rotate icon.
  &--open .pal--actions-panel-icon {
    fill: $icon-inverse;
    transform: rotate(180deg);
  }

  // &--open .#{$prefix}--btn--tertiary {
  //   color: $icon-inverse;
  //   background-color: $button-tertiary;
  // }

  &--open, &--open:hover  {
    background-color: $button-tertiary;
  }

}

.pal--actions-panel-wrap {
  position: relative;
}


.pal--actions-panel-menu {
  right: 0 !important;
  top: 100% !important;
  left: auto !important;
}

.pal--actions-panel-menu::after {
  display: none;
}

.pal--page-header--experimental:has(.pal--page-header__tabs) .pal--page-header__actions {
  margin: calc($header-spacing + $breadcrumb-spacing - $spacing-03) 0 0;
}

// experimental
.pal--page-header--experimental .pal--page-header__actions {
  padding: 0;
  margin: calc($header-spacing + $breadcrumb-spacing) 0 0;

  &:not(:has(.pal--actions-panel-wrap)) {
    @include breakpoint-down('md') {
      width: 100%; // span button across container
      margin: $header-spacing 0 0; // button jumps below title --> remove mock height of breadcrumbs

      .cds--btn {
        width: 100%; // span button across container
      }
   }
  }
}

.pal--page-header--experimental .pal--page-header__actions:has(.pal--actions-panel-wrap) *:not(.pal--actions-panel-wrap, .pal--actions-panel-wrap *) {
  @include breakpoint-down('md') {
    display: none;
  }
}

.pal--page-header--experimental .pal--actions-panel-sm {
    @include breakpoint-down('md') {
      display: block;
    }
}

.pal--page-header--experimental .pal--actions-panel.#{$prefix}--overflow-menu {
    display: none;

    @include breakpoint-up('md') {
      display: block;
    }
}