$feature-flags: (
  grid-columns-16: true,
  enable-css-custom-properties: true,
);

// experimental
@use '../../styles/type' as experimental-type;
@use "@carbon/react/scss/type";
@use '@carbon/react/scss/reset';
@import '@carbon/styles/scss/breakpoint';
@import "@carbon/react/scss/colors";
@import "@carbon/react/scss/spacing";
@import "@carbon/react/scss/themes";
@import "@carbon/react/scss/theme";
@import "@carbon/react/scss/config";
@import "@carbon/react/scss/grid";
@import "@carbon/react/scss/components/breadcrumb";
@import "@carbon/react/scss/components/button";
@import "@carbon/react/scss/components/overflow-menu";
@import "@carbon/react/scss/components/skeleton-styles";
@import "@carbon/react/scss/components/link";
@import '@carbon/styles/scss/grid';

// children
@import "./children/ActionsPanel/styles";
@import "./children/SurfacedDetails/styles";

$header-spacing: 28px; // mocks l2 nav height
$breadcrumb-spacing: 16px; // mocks breadcrumb spacing



.pal--page-header {
  @include flex-grid;

  background-color: $background;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: $spacing-05 $spacing-05 $spacing-07;

  .cds--row {
    justify-content: space-between;
    width: calc(100% + 2rem);
  }

  @include breakpoint-up(960px) {
    flex-flow: row nowrap;
  }

  @include breakpoint-up("md") {
    padding: $spacing-05 $spacing-07 $spacing-07;
  }

  // PageHeader Main Content
  &__main {
    flex: 1;
    width: calc(100% - 3rem);

    .pal--page-header__icon {
      position: absolute; // Absolute positioning to allow us to still allow for truncation.
    }

    &-container {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      margin: 0 1rem;
      width: calc(100% - 136px);
    }

    @include breakpoint-up("md") {
      min-width: 17.125rem;
      max-width: 100%;
    }
  }

  // PageHeader Breadcrumbs
  &__breadcrumb {
    z-index: 1;
    position: relative;
    overflow: hidden;

    &  * {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .#{$prefix}--breadcrumb {
    display: flex;
    flex-wrap: nowrap;


    // Override the link here because font-sizes differ.
    .#{$prefix}--link,
    .#{$prefix}--breadcrumb-item::after,
    .pal--page-header__breadcrumb-btn {
      @include type.type-style("label-01");
    }

    .#{$prefix}--link,
    .pal--page-header__breadcrumb-btn {
      color: $link-primary;
    }

    .pal--page-header__breadcrumb-btn {
      background-color: transparent;
      border: 0;
      box-sizing: border-box;
      font-family: inherit;
      margin: 0;
      outline: none;
      padding: 0;
      text-decoration: none;
      vertical-align: baseline;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &:focus {
        outline: 1px solid $button-primary;
      }
    }
  }

  // .#{$prefix}--row {
  //   justify-content: space-between;
  //   width: calc(100% + 2rem);
  // }

  // PageHeader Title
  &__title-container {
    padding: $spacing-05 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    max-width: 100%;
  }

  &__breadcrumb + &__title-container {
    padding: 0;
  }

  &__title-text {
    @include type.type-style("productive-heading-04");

    line-height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    position: relative;
    padding-right: $spacing-03;

    @include breakpoint-up(960px) {
      max-width: 100%;
    }
  }

  &__title--truncated {
    max-width: 100%;
  }

  &__title--truncated &__title-text {
    white-space: nowrap;
  }

  &__title--skeleton {
    margin-top: $spacing-03;
    height: 2rem;
    margin-bottom: 0;
  }

  &__icon + &__title-text {
    margin-left: 36px;
  }

  // Page Header Icon
  &__icon {
    display: flex;
    align-items: center;
    width: 36px;
    height: 100%;

    &-container {
      align-items: center;
      display: flex !important;
      width: 104px;
      max-width: none !important; // need to override grid specs
    }

    .pal--page-header--provisioning & {
      border: 1px solid $layer-accent-01;
      border-radius: 6px;
      justify-content: center;
      width: 72px;
      height: 72px;
      padding: 12px;
    }
  }

  &__icon > svg,
  &__icon > img,
  &__icon > * {
    width: 32px;
    height: 32px;

    .pal--page-header--provisioning & {
      width: 48px;
      height: 48px;
    }
  }

  // PageHeader Actions
  &__actions {
    align-items: center;
    display: flex;
    padding-top: $spacing-05;
    position: relative;
    max-height: 3.5rem;
  }

  &__actions > *,
  &__actions > .cds--btn {
    // Additional specificity needed for nested styles.
    margin-left: $spacing-05;

    &:first-child {
      margin-left: 0;
    }
  }

  &--provisioning {
    background-color: $layer-01;
    padding-bottom: $spacing-05;
    border-bottom: none;

    &.pal--page-header--wrapped-details .pal--page-header__surfaced-details {
      padding-top: $spacing-03;
      margin-left: 2.5rem;
      height: initial;
    }

    .pal--page-header__breadcrumb {
      padding-bottom: $spacing-04;
      margin-left: 2.5rem;
    }

    .pal--page-header__title-text {
      line-height: 2.25rem;
      margin-left: 2.5rem;
    }

    &.pal--page-header--provisioning .pal--page-header__breadcrumb {
      padding-bottom: $spacing-02;
    }

    & .pal--page-header__breadcrumb,
    & .pal--page-header__title-text,
    &.pal--page-header--wrapped-details
      .pal--page-header__surfaced-details {
      margin-left: 0;

      @include breakpoint-up("lg") {
        margin-left: 0;
      }
    }
  }

  &--resource-detail {
    border-bottom: 1px solid $border-subtle-01;
  }

  &--sticky {
    position: sticky;
    top: rem(50px);
  }

  &--skeleton &__main {
    flex: auto;
    width: auto;
  }


  // experimental
  &--experimental &__main {
    width: 100%;

    &:has(.pal--page-header__title--truncated) {
      overflow: hidden;
    }
  }

  &--experimental &__title--truncated{
    overflow:hidden;
  }

  &--experimental &__title-text{
    @include experimental-type.experimental-type-style("experimental-productive-heading-05");

    line-height: 2.5rem;
  }

  // world

  &--world {
    padding: $spacing-05  $spacing-05 $spacing-07  $spacing-07;
  }

  &--world &__title-text{
    @include type.type-style('expressive-heading-05', true);

    color: $text-primary;
  }

  &--world &__subtitle {
    padding: $spacing-04 0 0;
  }

  &--world &__subtitle-text{
    @include type.type-style('expressive-heading-03', true);

    color: $text-secondary;
  }

  &--world &__main-container {
    margin: 0;
  }

  // world illustration
  &--world &__illustration-container {
    margin: 0;

    @include breakpoint-down('md') {
      padding-left: 0;
      padding-top: $spacing-07;
    }
  }

  &--world &__illustration {
    position: relative;
    overflow: hidden;
  }

  // world illustration
 &--world &__illustration > img {
  object-fit: cover;
  object-position: 0 0; /* top left position (optional) */
  min-width: 600px;
  max-width: 100%;

  @include breakpoint-down('md') {
    min-width:  100%;
    max-width:  100%;
  }
 }

 &--world &__illustration::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 -10px $spacing-04 $spacing-04 $background inset;
  
 }

  &--experimental &__title-container:has(&__title--truncated) {
    flex-wrap: inherit;
    padding: calc($header-spacing + $breadcrumb-spacing) 0 0; // mocking the height of breadcrumbs
    // realign surfacted details to be displayed below title
    @include breakpoint-down('md') {
      display: block;
      flex-direction: column;
    }
  }

  // remove mock padding
  &--experimental &__breadcrumb + &__title-container {
    padding: $header-spacing 0 0;
  }

  // remove mock padding
  &--experimental &__return-link + &__title-container {
    padding: calc($header-spacing - 3px) 0 0;
  }

  // add padding right to svg icon
  &--experimental &__return-link > svg {
    margin-right: $spacing-03;
    display: inline-flex;
    align-self: center;
  }

  // provisioning
  &--experimental.pal--page-header--provisioning .cds--row {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &--experimental.pal--page-header--provisioning &__main-container  {
    margin: 0;
    padding: 0;
  }

  &:has(.pal--page-header__tabs) {
    padding-bottom: 0;
  }

  // strech tabs to fit provisioning design spec
  &--experimental.pal--page-header--provisioning &__tabs {
    .cds--tabs__nav-item {
      width: 150px;
    }

    &--sm {
      .cds--tabs__nav-item {
        width: max-content;
      }
    }
  }

  &--experimental &__tabs {
    margin: $spacing-07 0 0 calc(-1 * $spacing-05); // to align text with header

    // to achieve the tab component to span the whole header width two tabs components are in play that depending on the screen size are hidden or shown
    @include breakpoint-down('md') {
      display: none;
    };

    background-color: inherit;
    padding: 0;

  }

  &--experimental &__tabs--sm {
    margin: $spacing-06 0 0 calc(-1 * $spacing-05); // to align text with header
    // to achieve the tab component to span the whole header width two tabs components are in play that depending on the screen size are hidden or shown
    @include breakpoint-up('md') {
      display: none;
    };

    background-color: inherit;
    padding: 0;
    width: calc(100% + $spacing-05);

    .cds--tabs, .cds--tab--list {
      width: calc(100% + $spacing-05);
    }
  }

  &--experimental.pal--page-header--provisioning &__icon-container {
    justify-content: flex-end;
    margin-top: -1rem;
    height: calc(100% + $spacing-05);

    // align icon container with header text
    @include breakpoint-down('md') {
      margin-top: $header-spacing;
      height: 100%;
    }
  }

  &--experimental.pal--page-header--provisioning &__icon {
    width: 64px;
    height: 64px;
    padding: 6px;
    border: 1px solid $layer-accent-01;
    border-radius: 8px;
    justify-content: center;

    > svg,
    & > img,
    & > * {
      width: 52px;
      height: 52px;
    }
  }
}

.cds--grid .pal--page-header {
  padding-left: 0;
  padding-right: 0;
}
