@use "@carbon/react/scss/type";
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/motion';
@use "@carbon/react/scss/components/skeleton-styles";
@import "@carbon/react/scss/colors";
@import "@carbon/react/scss/spacing";
@import "@carbon/react/scss/themes";
@import "@carbon/react/scss/theme";
@import "@carbon/react/scss/config";
@import "../SideNav/styles";
@import "../SideNav/inverse-styles";

.pal--world-level-nav::after {
  position: absolute;
  right: 0;
  content: "";
  width: 1px;
  height: 100%;
  background-color: $layer-01;
}

.pal--world-level-nav.pal--side-nav {
  bottom: 0;
  display: flex;
  height: calc(100% - 50px);
  min-width: $pal-side-nav-width;
  position: relative;
}

.pal--world-level-nav.pal--side-nav--collapsed {
  transform: translateX($pal-side-nav-collapse-transition-side);
  transition: transform $duration-moderate-02 motion(exit, productive);
}

.pal--world-level-nav .pal--side-nav__item,
.pal--world-level-nav .pal--side-nav__menu-button {
  font-weight: 600;
}

.pal--world-level-nav .pal--side-nav__link,
.pal--world-level-nav .pal--side-nav__menu-button {
  padding-left: $spacing-05;
}

.pal--world-level-nav .pal--side-nav__menu-button.pal--side-nav__menu-flyout {
  padding-left: $spacing-06;
}

.pal--world-level-nav .pal--side-nav__menu .pal--side-nav__link {
  padding-left: $spacing-06;
}

.pal--world-level-nav .pal--side-nav__link[aria-current="page"],
.pal--world-level-nav .pal--side-nav__item--active .pal--side-nav__menu-button {
  color: $pal-inverse-side-nav-active-text;
}

.pal--world-level-nav .pal--side-nav__collapse-button {
  justify-content: flex-end;
  padding: $spacing-05 $spacing-05 $spacing-05 $spacing-06;

  @include breakpoint("md") {
    display: flex;
  }
}

.pal--world-level-nav.pal--side-nav .pal--side-nav__item::before {
  display: none;
}

.pal--world-level-nav.pal--side-nav--collapsed
  > *:not(.pal--side-nav__collapse-button) {
  visibility: hidden;
  opacity: 0;
  transition: all $duration-moderate-02 motion(exit, productive);
}

.pal--world-level-nav.pal--side-nav--collapsed .pal--side-nav__collapse-button {
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: $spacing-04 $spacing-05;
  position: absolute;
  right: 0;
  width: 2.875rem;
}

:not(.pal-docs--renderer__component) > .pal--world-level-nav {
  position: fixed;
}
