$feature-flags: (
  grid-columns-16: true,
  enable-css-custom-properties: true,
);

@use "@carbon/react/scss/type";
@use '@carbon/react/scss/reset';
@use "@carbon/react/scss/components/skeleton-styles";
@import "@carbon/react/scss/colors";
@import "@carbon/react/scss/spacing";
@import "@carbon/react/scss/themes";
@import "@carbon/react/scss/theme";
@import "@carbon/react/scss/config";
@import "@carbon/react/scss/components/button";

/* Make sure to import any Carbon Component's styles that this component uses */

$progress-bar-green-primary: $support-success;
$progress-bar-green-secondary: $green-30;
$progress-bar-yellow-primary: $support-warning;
$progress-bar-yellow-secondary: $yellow-20;
$progress-bar-red-primary: $support-error;
$progress-bar-red-secondary: $red-40;
$progress-bar-blue-primary: $support-info;
$progress-bar-blue-secondary: $blue-40;
$progress-bar-gray-primary: $button-secondary;
$progress-bar-gray-secondary: $gray-40;

.pal--progress-bar {
  display: flex;
  align-items: center;
}

.pal--progress-bar__progress {
  position: relative;
  height: 0.75rem;
  border-radius: 2rem;
  background-color: $layer-03;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  overflow: hidden;
}

.pal--progress-bar__label {
  color: $text-primary;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.pal--progress-bar--segments {
  .pal--progress-bar__section:not(:last-child) {
    border-right: 0.125rem solid $layer-02;
  }
}

.pal--progress-bar__section {
  position: relative;
  height: 100%;
  flex: 0 0 0;
  overflow: hidden;
  background-color: transparent;
}

.pal--progress-bar__section__fill {
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
}

.pal--progress-bar__section[data-status="green"]
  .pal--progress-bar__section__fill {
  background-color: $progress-bar-green-primary;
}

.pal--progress-bar__section[data-status="red"]
  .pal--progress-bar__section__fill {
  background-color: $progress-bar-red-primary;
}

.pal--progress-bar__section[data-status="yellow"]
  .pal--progress-bar__section__fill {
  background-color: $progress-bar-yellow-primary;
}

.pal--progress-bar__section[data-status="blue"]
  .pal--progress-bar__section__fill {
  background-color: $progress-bar-blue-primary;
}

.pal--progress-bar__section[data-status="gray"]
  .pal--progress-bar__section__fill {
  background-color: $progress-bar-gray-primary;
}

.pal--progress-bar__section[data-status^="indeterminate"]
  .pal--progress-bar__section__fill {
  background-size: 15px 15px;
  background-image: linear-gradient(
    135deg,
    $progress-bar-green-primary 25%,
    $progress-bar-green-secondary 25%,
    $progress-bar-green-secondary 50%,
    $progress-bar-green-primary 50%,
    $progress-bar-green-primary 75%,
    $progress-bar-green-secondary 75%,
    $progress-bar-green-secondary
  );
  animation: animate-stripes 3s linear infinite;
}

.pal--progress-bar__section[data-status="indeterminate-yellow"]
  .pal--progress-bar__section__fill {
  background-image: linear-gradient(
    135deg,
    $progress-bar-yellow-primary 25%,
    $progress-bar-yellow-secondary 25%,
    $progress-bar-yellow-secondary 50%,
    $progress-bar-yellow-primary 50%,
    $progress-bar-yellow-primary 75%,
    $progress-bar-yellow-secondary 75%,
    $progress-bar-yellow-secondary
  );
}

.pal--progress-bar__section[data-status="indeterminate-red"]
  .pal--progress-bar__section__fill {
  background-image: linear-gradient(
    135deg,
    $progress-bar-red-primary 25%,
    $progress-bar-red-secondary 25%,
    $progress-bar-red-secondary 50%,
    $progress-bar-red-primary 50%,
    $progress-bar-red-primary 75%,
    $progress-bar-red-secondary 75%,
    $progress-bar-red-secondary
  );
}

.pal--progress-bar__section[data-status="indeterminate-blue"]
  .pal--progress-bar__section__fill {
  background-image: linear-gradient(
    135deg,
    $progress-bar-blue-primary 25%,
    $progress-bar-blue-secondary 25%,
    $progress-bar-blue-secondary 50%,
    $progress-bar-blue-primary 50%,
    $progress-bar-blue-primary 75%,
    $progress-bar-blue-secondary 75%,
    $progress-bar-blue-secondary
  );
}

.pal--progress-bar__section[data-status="indeterminate-gray"]
  .pal--progress-bar__section__fill {
  background-image: linear-gradient(
    135deg,
    $progress-bar-gray-primary 25%,
    $progress-bar-gray-secondary 25%,
    $progress-bar-gray-secondary 50%,
    $progress-bar-gray-primary 50%,
    $progress-bar-gray-primary 75%,
    $progress-bar-gray-secondary 75%,
    $progress-bar-gray-secondary
  );
}

.pal--progress-bar--skeleton {
  display: flex;
  align-items: center;

  .cds--skeleton__text {
    margin-bottom: 0;
  }

  &__progress {
    height: 0.75rem;
    border-radius: 2rem;
    overflow: hidden;
  }

  &__label {
    height: 0.875rem;
    margin-left: 0.5rem;
  }
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}
